@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

:root {
    --blue: rgb(109, 130, 153);
    --background: rgb(13, 17, 23);
    --white: #FdFdFF;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    color: var(--white);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: var(--blue);
}

p {
    padding: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h2 {
    color: var(--blue);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.buttonlink {
    display: flex;
    justify-content: center;
}

.main {
    display: block;
    position: static;
    text-align: center;
    margin-top: 3%;
}

.github_button_image {
    border-radius: 50%;
    size: 20px;
    width: 95px;
}

@media only screen and (min-width: 768px) {
    h2 {
        min-width: 22px;
    }
    .github_button_image {
        width: 100px;
    }
    h1 {
        font-size: 43px;
    }
}

@media only screen and (min-width: 1920px) {
    p {
        margin-left: 285px;
        padding: 16px;
        font-size: 24px;
        display: flex;
        text-align: left;
    }
    /* .breif_about_me {
        display: flex;
        text-align: left;
    } */
    h1 {
        margin-left: -1184px;
        font-size: 48px;
    }
    h2 {
        margin-left: -1184px;
        font-size: 25px;
    }
    .github_button_image {
        width: 130px;
        margin-left: -961px;
        margin-top: -77px;
    }
}

@media only screen and (min-width: 3840px) {
    h1 {
        margin-left: -1830px;
    }
    h2 {
        margin-left: -1830px;
    }
    .github_button_image {
        margin-left: -1633px;
    }
}